<h1>Editing fact</h1>

<% form_for(@fact) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fact %> |
<%= link_to 'Back', facts_path %>