<h1>Editing election</h1>

<% form_for(@election) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :occur_at %><br />
    <%= f.datetime_select :occur_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @election %> |
<%= link_to 'Back', elections_path %>