!!! Transitional
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }/
    %title= "iVoto - #{controller.controller_name.upcase}"
    //= bundle :name => 'defaults' do
    = stylesheet_link_tag 'reset', 'global', :cache => "cache/all"
    = javascript_include_tag 'jquery'
    = yield :head
    %link{ :href => "/images/favicon.png", :rel => "shortcut icon" }/
  %body
    #wrapper
      #header
        .logo
          %a{ :href => "/" }
            %span Vote Certo!
        .login_module
          %p
            %strong
              %a{ :href => "/sign_up" }
                Create your Hi, I'm page
            or
            %strong
              %a{ :href => "/sign_in" }
                Login
        #benefits
          .left_copy_box
            %h1
              Hi, I'm is like your nametag on the internet.
            %h2
              Featuring your latest content from your favorite networks, your Hi, I'm page tells everyone who you are and what you're about all on one page.
            %ul.buttons
              %li
                %a.big_btn.create_profile{ :href => "/sign_up" }
                  Create your Hi, I'm page
      #content
        #sidebar= yield :sidebar
        #main= yield
      .clear
      #footer
        .block
          %p
            Copyright &copy; 2009 Fireho.